@import "@/shared/styles";

.testing {
  width: 50rem;
  min-height: 40rem;

  &__progress {
    div {
      div {
        flex-wrap: wrap;
        row-gap: 2px;
      }
    }
  }

  @include --mobile() {
    width: 34rem;
  }
}
